@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LDS Church';
  src: url('/fonts/lds-church.woff2') format('woff2'),
       url('/fonts/lds-church.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'LDS Church', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-title {
  font-family: 'LDS Church', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05em;
} 